<section id="banner" class="img-webp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_area">
                    <h3 class="page_title">Painel de Admnistração</h3>

                </div>
            </div>
        </div>
    </div>
</section>