<aside class="adv-modal" aria-expanded="false">
    <button class="adv-modal__close" alt="Fechar popup"><i class="fa fa-times" aria-hidden="true"></i></button>

    <!-- Banners Desktop -->
    <div class="adv-modal__content d-none d-lg-flex">
        <a href="http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso"
            class="adv-modal__banner">
            <img src="https://economia.culturamix.com/blog/wp-content/gallery/financiamento-caixa-2/Financiamento-Caixa-2.png"
                alt="Banner de Financiamento Caixa" style="margin-bottom: -7px">
        </a>

        <a href="https://credpago.com/simulador/?id=9a2a98af87192d179c3b893692955280482319e0" class="adv-modal__banner">
            <img src="https://cdn1.valuegaia.com.br/gaiasite/716/media/dc542e5c11503954b0941d60e8af6b31-BANNER%20CREDPAGO%20SIMULADOR%20MENOR.jpg"
                alt="Banner CredPago">
        </a>
    </div>

    <!-- Banners Mobile -->
    <div class="adv-modal__content d-flex d-lg-none">
        <a href="http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso"
            class="adv-modal__banner">
            <img src="https://ecovitaconstrutora.com.br/wp-content/uploads/2017/08/banner-simulador-caixa-292x300.png"
                alt="Banner de Financiamento Caixa">
        </a>

        <a href="https://credpago.com/simulador/?id=9a2a98af87192d179c3b893692955280482319e0" class="adv-modal__banner">
            <img src="https://cdn1.valuegaia.com.br/gaiasite/5294/media/b8b34ce2d03a433edc29d5264fa17508-CredPago.jpg"
                alt="Banner CredPago">
        </a>
    </div>
</aside>

<div class="adv-modal-backdrop show"></div>