<div class="col-md-12 sponsor">
    <% if(bannerimoveis[0].linkbotao != '' || bannerimoveis[0].linkbotao == undefined) { %>
    <a href="https://www.google.com.br" target="_blank">
        <img src="https://via.placeholder.com/1290x300" alt="" class="img-fluid">
    </a>
    <% } else {%>
    <a>
        <img src="https://via.placeholder.com/1290x300" alt="" class="img-fluid">
    </a>
    <% } %>

</div>