<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer_widget">
                    <div class="footer-logo"><a href="/"><img class="logo-bottom" src="/img/logo.png" alt="Logo Planagro Imóveis"></a></div>
                    <div class="footer_contact">
                        <p><%= sobre.quemsomos %></p>
                    </div>
                    <div class="socail_area">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_widget">
                    <div class="footer-title">
                        <h4>Entre em contato!</h4>
                    </div>
                    <div class="footer_contact">
                        <ul>
                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Nosso Endereço</h6>
                                    <span><%= sobre.endereco %></span>
                                </div>
                            </li>
                            <li> <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Ligue para nós</h6>
                                    <span> <%= sobre.telefone %> </span>
                                </div>
                            </li>
                            <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Ou envie um email</h6>
                                    <span><%= sobre.email %></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_area">
                    <div class="footer-title">
                        <h4>Nos acompanhe</h4>
                    </div>
                    <div class="footer_contact">
                        <p>Se inscreva no nosso newsletter para receber os últimos imóveis direto no seu email!</p>
                        <div class="news_letter">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Escreva seu Email" class="news_email">
                                <button type="submit" name="submit" class="btn btn-default">inscrever</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>