<footer id="bottom_footer">
	<div class="reserve_text"> <span>Copyright &copy; 2019 Planagro Todos os Direitos Reservados <a class="admin_login"
				href="/admin"><i class="fa fa-spinner"></i></a></span></div>
	<div class="reserve_text"> <span>Desenvolvido por <a href="https://www.evolveme.com.br"><img
				src="/img/evolve.png" style="width: auto" alt="Logo Evolve Soluções Web" height="25px" class="p-1"></a></span> </div>
</footer>