<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=194279167337875&autoLogAppEvents=1">
</script>
<section id="footer" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer_widget">
                    <div class="footer-title">
                        <h4 class="p-0">Imóveis</h4>
                        <ul class="footer-links">
                            <li> <a href="/comprar">Imóveis para comprar</a></li>
                            <li> <a href="/alugar">Imóveis para alugar</a></li>
                            <li> <a href="/alugar?cidade=Bagé">Imóveis em Bagé</a></li>
                            <li> <a href="/comprar?keyword=centro">Imóveis no centro</a></li>
                            <li> <a href="/#imovel-tab">Imóveis em destaque</a></li>
                            <li> <a href="/vender">Vender meu imóvel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_widget">
                    <div class="footer-title">
                        <h4 class="p-0">Terrenos</h4>
                        <ul class="footer-links">
                            <li> <a href="/comprar?tipo=Terreno">Terrenos para comprar</a></li>
                            <li> <a href="/comprar?tipo=Terreno&cidade=Bagé">Terrenos em Bagé</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
             <div class="footer_widget">
                    <div class="footer-title">
                        <h4 class="p-0">Apartamentos</h4>
                        <ul class="footer-links">
                            <li> <a href="/comprar?tipo=Apartamento">Apartamentos para comprar</a></li>
                            <li> <a href="/comprar?tipo=Apartamento&genero=Aluguel">Apartamentos para alugar</a></li>
                            <li> <a href="/comprar?tipo=Apartamento&cidade=Bagé">Terrenos em Bagé</a></li>
                        </ul>
                    </div>
                    <div class="footer-title">
                        <h4 class="p-0">Rural</h4>
                        <ul class="footer-links">
                            <li> <a href="/comprar?zona=Rural">Propriedades Rurais para comprar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_widget">
                    <div class="footer-title">
                        <h4 class="p-0">Institucional</h4>
                        <ul class="footer-links">
                            <li> <a href="/sobre">Sobre nós</a></li>
                            <li> <a href="/contato">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_widget">
                    <div class="footer-title">
                        <h4>Entre em contato!</h4>
                    </div>
                    <div class="footer_contact">
                        <ul>
                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Nosso Endereço</h6>
                                    <span><%= sobre.endereco %></span>
                                </div>
                            </li>
                            <li> <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Ligue para nós</h6>
                                    <span> <%= sobre.telefone %> </span>
                                </div>
                            </li>
                            <li> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div class="ftr-list">
                                    <h6 class="touch-title">Ou envie um email</h6>
                                    <span><%= sobre.email %></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fb-page" data-href="https://www.facebook.com/Planagro-Im%C3%B3veis-2387731598115746/"
                    data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Planagro-Im%C3%B3veis-2387731598115746/"
                        class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/Planagro-Im%C3%B3veis-2387731598115746/">Planagro Imóveis</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>