<% if(banner.referente == 'home') %>
<section id="imovel-submit" class="img-webp wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="banner-element">
                <h2 class="banner-title"><%= banner[0].titulo %></h2>
                <a class="btn btn-default" href="<%= banner[0].linkbotao%>"><%=banner[0].textobotao%> </a>
            </div>
        </div>
    </div>
</section>