<section id="imovel-submit" class="img-webp wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="banner-element">
                <h2 class="banner-title">Quer vender seu imóvel?</h2>
                <a class="btn btn-default" href="/contato">Entre em contato! </a>
            </div>
        </div>
    </div>
</section>