<meta charset="utf-8">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102953058-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-102953058-3');
</script>


<link rel="shortcout icon" href="/img/favicon.ico" type="image/x-icon" />
<link rel="shortcout icon" href="/img/favicon.png">
<title>Planagro Imóveis - Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região! -
    <%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="planagro, planagro imoveis, planagro bage, imobiliaria planagro, imobiliaria planagro bage, bage, imoveis bage, imobiliaria bage, imoveis urbanos, imoveis urbanos bage, imoveis rurais bage, comprar casa bage,
comprar apartamento bage, comprar sitio bage, apartamento, bage, casa, lavoura, chacara, propriedade rural, imovel urbano, comprar terreno bage, sitio bage, comprar chacara, venda propriedades bage, venda imoveis bage, terrenos em bage
casas e apartamentos em bage, imobiliaria em bage, imoveis em bage, imoveis em candiota, imoveis em dom pedrito, imobiliaria rio grande do sul, propriedades rurais rio grande do sul, imoveis rurais rio grande do sul, imoveis rurais rs, imoveis urbanos rs,
lavoura em bage, arrendamento rural bage, arrendamento, arrendamento rural" />
<META NAME="Identifier-URL" CONTENT="https://www.planagroimoveis.com.br">
<META NAME="url" CONTENT="https://www.planagroimoveis.com.br">
<META NAME="Language" CONTENT="PT-BR">
<META NAME="content-language" CONTENT="pt-br">
<META NAME="distribution" CONTENT="Global">
<META NAME="coverage" CONTENT="Worldwide">
<META NAME="Author" CONTENT="https://www.evolveme.com.br">
<meta name="description"
    content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região! Encontre a casa, apartamento, terreno, kitnet, chácara, lavoura ou campo ideal para você, com auxílio da nossa acessoria." />
<script type="application/x-javascript">
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<% if( robotsFollow ) {%>
<META NAME="robots" CONTENT="index,follow">
<%} else{ %>
<meta name="googlebot" content="noindex" />
<% } %>

<% try{  %>
    <% if( !is_prop) { %>
        <!-- SOCIAL METAS -->
        <meta property="og:title" content="Planagro Imóveis - Imóveis Rurais e Urbanos em Bagé e Região!">
        <meta property="og:description"
            content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">
        <meta property="og:image" content="https://www.planagroimoveis.com.br/img/thumbs/imovel.jpg">
        <meta property="og:url" content="https://www.planagroimoveis.com.br">
        <meta name="twitter:card" content="https://www.planagroimoveis.com.br/img/thumbs/imovel.jpg">
        <meta name="twitter:image:alt" content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">

    <% } %>
<% } catch(e){ %>
      <!-- SOCIAL METAS -->
      <meta property="og:title" content="Planagro Imóveis - Imóveis Rurais e Urbanos em Bagé e Região!">
      <meta property="og:description"content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">
      <meta property="og:image" content="https://www.planagroimoveis.com.br/img/thumbs/imovel.jpg">
      <meta property="og:url" content="https://www.planagroimoveis.com.br">
      <meta name="twitter:card" content="https://www.planagroimoveis.com.br/img/thumbs/imovel.jpg">
      <meta name="twitter:image:alt" content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">
<% } %>
<meta property="fb:app_id" content="planagroimoveisbage" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Planagro Imóveis">

<script defer src="/js/jquery.min.js"></script>
<script defer src="/js/bootstrap.min.js"></script>
<script defer src="/js/lazyload.js"></script>
<script defer src="/js/bootstrap-select.js"></script>
<script defer src="/js/owl.js"></script>
<script defer src="/js/mixitup.js"></script>
<script defer src="/js/wow.js"></script>
<script defer src="/js/tmpl.js"></script>
<script defer src="/js/jquery.dependClass-0.1.js"></script>
<script defer src="/js/draggable-0.1.js"></script>
<script defer src="/js/jquery.slider.js"></script>
<script defer src="/js/numeral.min.js"></script>
<script defer src="/js/custom.js?version=4"></script>
<script defer src="/js/moneyMask.js"></script>
<script defer src="/js/modernizr-custom.js"></script>
<script defer src="/js/zonaMaskFilter.min.js?version=1"></script>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="/fonts/flaticon.css">
<link rel="stylesheet" href="/css/color.css?version=10" id="color-change">
<link rel="stylesheet" href="/css/jslider.css">
<link rel="stylesheet" href="/css/responsive.min.css?version=10">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">