<meta charset="utf-8">
<link rel="shortcout icon" href="/img/favicon.ico" type="image/x-icon" />
<link rel="shortcout icon" href="/img/favicon.png">
<title>Planagro Imóveis - Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região! -  <%= pageTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="planagro, planagro imoveis, planagro bage, imobiliaria planagro, imobiliaria planagro bage, bage, imoveis bage, imobiliaria bage, imoveis urbanos, imoveis urbanos bage, imoveis rurais bage, comprar casa bage,
comprar apartamento bage, comprar sitio bage, apartamento, bage, casa, lavoura, chacara, propriedade rural, imovel urbano, comprar terreno bage, sitio bage, comprar chacara, venda propriedades bage, venda imoveis bage, terrenos em bage
casas e apartamentos em bage, imobiliaria em bage, imoveis em bage, imoveis em candiota, imoveis em dom pedrito, imobiliaria rio grande do sul, propriedades rurais rio grande do sul, imoveis rurais rio grande do sul, imoveis rurais rs, imoveis urbanos rs,
lavoura em bage, arrendamento rural bage, arrendamento, arrendamento rural" />
<META NAME="Identifier-URL" CONTENT="http://www.planagroimoveis.com.br">
<META NAME="url" CONTENT="http://www.planagroimoveis.com.br">
<META NAME="Language" CONTENT="PT-BR">
<META NAME="content-language" CONTENT="pt-br">
<META NAME="distribution" CONTENT="Global">
<META NAME="coverage" CONTENT="Worldwide">
<META NAME="Author" CONTENT="Vitor Régis de Ramos - Front-End Developer / Evolve Soluções Web">
<meta name="description" content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região! Encontre a casa, apartamento, terreno, kitnet, chácara, lavoura ou campo ideal para você, com auxílio da nossa acessoria." />


<% if( robotsFollow ) {%>
    <META NAME="robots" CONTENT="index,follow">
<%} else{ %>
    <meta name="googlebot" content="noindex" />
<% } %>

<!-- SOCIAL METAS -->
<meta property="og:title" content="Planagro Imóveis - Imóveis Rurais e Urbanos em Bagé e Região!">
<meta property="og:description" content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">
<meta property="og:image" content="http://www.planagroimoveis.com.br">
<meta property="og:url" content="http://www.planagroimoveis.com.br">
<meta property="og:type" content="website" />
<meta name="twitter:card" content="/img/favicon.png">
<meta property="og:site_name" content="Planagro Negócios Imobilíarios">
<meta name="twitter:image:alt" content="Imóveis rurais e urbanos para venda, aluguél ou arrendamento em Bagé e Região!">
<meta property="fb:app_id" content="planagroimoveisbage" />

<!-- Bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.min.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="/fonts/flaticon.css">
<link rel="stylesheet" href="/css/color.css" id="color-change">
<link rel="stylesheet" href="/css/jslider.css">
<link rel="stylesheet" href="/css/responsive.min.css">